/* .token-keyword {
  color: blue;
}

.token-attribute {
  color: rgb(146, 55, 55);
  font-weight: 500;
}

.token-operator {
  color: red;
  font-weight: 600;
} */

/* .vs .mtk6 {
  color: #0000ff !important;
}
.vs .mtk7 {
  color: #c90909 !important;
}
.vs-dark .mtk7 {
  color: #608b4e !important;
}
.vs-dark .mtk8 {
  color: #569cd6 !important;
}
.mtk14 {
  color: rgb(175, 45, 158) !important;
}
.mtk15 {
  color: rgb(119, 63, 119) !important;
}
.mtk22 {
  color: #0000ff !important;
}
.vs .mtk23 {
  color: #942011 !important;
}
.vs-dark .mtk23 {
  color: rgb(175, 99, 175) !important;
}
.vs .mtk25 {
  color: #be3320 !important;
}
.vs-dark .mtk25 {
  color: rgb(175, 99, 175) !important;
}
.mtk24 {
  color: rgb(151, 143, 33) !important;
} */
.table-row {
  font-size: 9.5pt;
  font-weight: 400;
}
.scroll-on-hover {
  overflow: hidden;
}
.scroll-on-hover:hover {
  overflow: auto;
}
.fileviewer-table-row {
  border: 1px solid red !important;
  padding: 0 !important;
}
.selected-row {
  background-color: #e6f4ff;
}
.selected-row-dark {
  background-color: #bae0ff;
}
.ant-table-tbody > tr > td {
  padding: 4px 4px;
}
